@using LoginAndRegistration.Models
@model LoginUser

<h1>Login to this Cool Site!</h1>
<a href="/">Register</a><br>


<form asp-action="trylogin" asp-controller="Home" method="POST">
    <span asp-validation-for="Email"></span>
    <label asp-for="Email"></label>
    <input type="text"asp-for="Email">

    <span asp-validation-for="Password"></span>
    <label asp-for="Password"></label>
    <input type="password" asp-for="Password">

    <button type="submit">Login</button>
</form>